  <p><%= link_to portfolio_items.title, portfolio_show_path(portfolio_items) %></p>

  <p><%= portfolio_items.subtitle %></p>

  <p><%= portfolio_items.body %></p>

  <p><%= image_tag portfolio_items.thumb_img unless portfolio_items.thumb_img.nil? %></p> 

  <i><%= "Created on: " + portfolio_items.created_at.strftime("%A - %B %d, %Y") + " at " + portfolio_items.updated_at.strftime("%I:%M %P") unless portfolio_items.updated_at != portfolio_items.created_at %></i>

  <p><i><%= "Updated on: " + portfolio_items.updated_at.strftime("%A - %B %d, %Y") + " at " + portfolio_items.updated_at.strftime("%I:%M %P") unless portfolio_items.updated_at == portfolio_items.created_at %></i></p>

  <p><%= link_to "Edit", edit_portfolio_path(portfolio_items) if logged_in?(:site_admin)%></p>

  <%= link_to 'Delete Portfolio Item', portfolio_destroy_path(portfolio_items), method: :delete, data: { confirm: 'Are you sure?' } if logged_in?(:site_admin)%>